@using Monahov.Models
@model IndexViewModel
@addTagHelper *, Monahov
@{
    ViewBag.Title = "Список пользователей";
}
<style>
@@font-face{font-family:'FontAwesome';src:url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2') format('woff2'),
url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff') format('woff'),
url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.ttf') format('truetype');font-weight:normal;font-style:normal}
.glyphicon {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale
}
.glyphicon-chevron-down:before {
content: "\f078";
}
 
.glyphicon-chevron-up:before {
content: "\f077";
}
</style>

<a asp-action="Create">Добавить пользователя</a>
        
 
<table class="table">
    <tr>
        <th>
            <sort-header action="Index" up="@Model.SortViewModel.Up" current= "@Model.SortViewModel.Current"
            property="@Model.SortViewModel.PositionSort">Должность</sort-header>
        </th>
        <th>
            <sort-header action="Index" up="@Model.SortViewModel.Up" current= "@Model.SortViewModel.Current"
            property="@Model.SortViewModel.NameSort">Имя</sort-header>
        </th>
        <th>Фамилия</th>     
        <th>Оклад</th>
        <th>Премия</th>
         <th>
            <sort-header action="Index" up="@Model.SortViewModel.Up" current= "@Model.SortViewModel.Current"
            property="@Model.SortViewModel.IsDismissedSort">Статус</sort-header>
        </th>  
            <th></th></tr>
    @foreach (Employee user in Model.Employees)
    {
        <tr>
            <td>@user.Position</td>
            <td>@user.FirstName</td>
            <td>@user.LastName</td>
            <td>@user.Salary</td>
            <td>@user.Premium</td>
            <td>@user.IsDismissed</td>
            <td>
                <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@user.Id">Изменить</a>
                    <button type="submit" class="btn btn-sm btn-danger">
                        Удалить
                    </button>
                </form>
            </td>
        </tr>
    }
</table>